@import url(styles/animations.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --green-primary: #97ac95;
    --brown-primary: #614d42;
    --gold-primary: #D6B576;
  }
}

input {
  padding: 0.3rem;
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid #D6B576;
}

input:focus {
  outline: none;
}

.button {
  background-color: var(--green-primary);
  padding: 6px 12px;
  border-radius: 0.2rem; 
  font-weight: bold;
}

textarea {
  padding: 0.3rem;
  border-color: #97ac95;
  border-radius: 0.3rem;
}